<%= javascript_include_tag 'laptime' %>

<% @page_class = 'heat' %>
<div class="cts">
  <section>
    <div class="profile bg-carbon">
      <div class="bg-screw">
        <div class="edit">
          <%= form_for(@heat) do |f| %>
            <%= f.hidden_field :circuit_id, :value => @circuit.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          <section>
            <h2 class="heading02 ic ic-calendar">attack day</h2>
            <p><%= @event.day %></p>
          </section>
          <section>
            <h2 class="heading02 ic ic-circuit">circuit</h2>
            <p><%= link_to @circuit.name , circuit_path(@circuit) %></p>
          </section>
          <section>
            <h2 class="heading02 ic ic-h">dirver</h2>
            <p><%= link_to @user.name , user_path(@user) %></p>
          </section>
            <section>
              <h2 class="heading02 ic ic-cond">heat</h2>
              <table class="tb02">
                <tr>
                  <th>heat</th>
                  <th>car</th>
                </tr>
                <tr>
                  <td><%= f.select :number, [1, 2, 3, 4, 5],{} ,class: 'wd01' %></td>
                  <td><%= f.select :car_id, @have_cars.map { |have_car| [have_car.name, have_car.id] },{} ,class: 'wd02' %></td>
                </tr>
              </table>
            </section>
            <section>
              <h2 class="heading02 ic ic-cond">condition</h2>
              <table class="tb02">
                <tr>
                  <th>weather</th>
                  <th>temperature</th>
                </tr>
                <tr>
                  <td><%= f.select :weather, ['晴れ', '曇り', '雨', '雪'],{} ,class: 'wd02' %></td>
                  <td><%= f.number_field :temp, step: "0.01" ,class: 'wd02' %></td>
                </tr>
                <tr>
                  <th>road condition</th>
                  <th>road temperature</th>
                </tr>
                <tr>
                  <td><%= f.select :roadcondition, ['ドライ', 'ハーフウェット', 'ウェット'] ,class: 'wd02' %></td>
                  <td><%= f.number_field :roadtemp, step: "0.01" ,class: 'wd02' %></td>
                </tr>
              </table>
            </section>
            <section>
              <h2 class="heading02 ic ic-flag">laptime</h2>
              <table class="time">
                <tr>
                  <th>sector1</th>
                  <th>sector2</th>
                  <th>sector3</th>
                  <th>total</th>
                </tr>
                  <%= f.fields_for :laptimes do |laptime_f| %>
                  <tr>
                    <td><%= laptime_f.number_field :sec1, step: "0.001",class: 'sector sec1' %></td>
                    <td><%= laptime_f.number_field :sec2, step: "0.001",class: 'sector sec2' %></td>
                    <td><%= laptime_f.number_field :sec3, step: "0.001",class: 'sector sec3' %></td>
                    <td><%= laptime_f.number_field :total, step: "0.001",class: 'total' %></td>
                  </tr>
                <% end %>
              </table>
            </section>
            <section>
              <h2 class="heading02 ic ic-setting-w">setting</h2>
              <%= f.fields_for :settings do |setting_f| %>
              <dl>
                <dt>tire</dt>
                <dd><%= f.text_field :tirename ,class: '' %></dd>
              </dl>

              <table class="press">
                <tr>
                  <th></th>
                  <th colspan="2">front</th>
                  <th colspan="2">rear</th>
                </tr>
                <tr>
                  <th>tire width</th>
                  <td colspan="2"><%= setting_f.number_field :ftirewidth ,class: 'wd02' %></td>
                  <td colspan="2"><%= setting_f.number_field :rtirewidth ,class: 'wd02' %></td>
                </tr>
                <tr>
                  <th>damping</th>
                  <td colspan="2"><%= setting_f.number_field :fdecay ,class: 'wd02' %></td>
                  <td colspan="2"><%= setting_f.number_field :rdecay ,class: 'wd02' %></td>
                </tr>
                <tr>
                  <th></th>
                  <th>right</th>
                  <th>left</th>
                  <th>right</th>
                  <th>left</th>
                </tr>
                <tr>
                  <th>air pressure</th>
                  <td><%= setting_f.number_field :frpress, step: "0.01" ,class: 'wd02' %></td>
                  <td><%= setting_f.number_field :flpress, step: "0.01" ,class: 'wd02' %></td>
                  <td><%= setting_f.number_field :rrpress, step: "0.01" ,class: 'wd02' %></td>
                  <td><%= setting_f.number_field :rlpress, step: "0.01" ,class: 'wd02' %></td>
                </tr>
                <tr>
                  <th>remarks</th>
                  <td colspan="4"><%= setting_f.text_area :remarks ,class: '' %></td>
                </tr>
              </table>
              <% end %>
              <%= hidden_field_tag :event_id, @event.id %>
              <%= hidden_field_tag :circuit_id, @circuit.id %>
            </section>
            <div class="btn-wrap center">
              <div class="btn"><%= f.submit 'change', class: '' %></div>
              <div class="btn"><%= link_to 'back', heat_path %></div>
              <div class="btn btn-red"><%= link_to 'delete', @heat, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
