<%= javascript_include_tag 'laptime' %>

<%= @event.day %>
<%= @circuit.name %>
<%= @datalist.id %>
<%= @datalist.user.name %>
<% @have_cars.each do |car| %>
<%= link_to car.name, car_path(car) %>
<% end %>
<%= form_for(@heat) do |f| %>
<%= f.label :number, 'ヒート' %>
<%= f.select :number, [1, 2, 3, 4, 5] ,class: '' %>
<%= f.label :car_id, '車種名' %>
<%= f.select :car_id, @have_cars.map { |have_car| [have_car.name, have_car.id] } ,class: '' %>
<table class="time">
<%= f.fields_for :laptimes do |laptime_f| %>
  <tr>
    <th><%= laptime_f.label :sec1, 'sector1' %></th>
    <td><%= laptime_f.number_field :sec1, step: "0.001",class: 'sector sec1' %></td>
    <th><%= laptime_f.label :sec2, 'sector2' %></th>
    <td><%= laptime_f.number_field :sec2, step: "0.001",class: 'sector sec2' %></td>
    <th><%= laptime_f.label :sec3, 'sector3' %></th>
    <td><%= laptime_f.number_field :sec3, step: "0.001",class: 'sector sec3' %></td>
    <th><%= laptime_f.label :total, 'total' %></th>
    <td><%= laptime_f.number_field :total, step: "0.001",class: 'total' %></td>
  </tr>
<% end %>
</table>
<%= f.fields_for :settings do |setting_f| %>
<h3>セッティング</h3>
<%= f.select :tire_id, @tires.map { |tire| [tire.tirename, tire.id] } ,class: '' %>
<table class="press">
  <tr>
    <th></th>
    <th>右フロント</th>
    <th>左フロント</th>
    <th>右リア</th>
    <th>左リア</th>
  </tr>
  <tr>
    <th>タイヤ幅</th>
    <td colspan="2"><%= setting_f.number_field :ftirewidth ,class: '' %></td>
    <td colspan="2"><%= setting_f.number_field :rtirewidth ,class: '' %></td>
  </tr>
  <tr>
    <th>空気圧</th>
    <td><%= setting_f.number_field :frpress, step: "0.01" ,class: '' %></td>
    <td><%= setting_f.number_field :flpress, step: "0.01" ,class: '' %></td>
    <td><%= setting_f.number_field :rrpress, step: "0.01" ,class: '' %></td>
    <td><%= setting_f.number_field :rlpress, step: "0.01" ,class: '' %></td>
  </tr>
  <tr>
    <th>減衰力</th>
    <td><%= setting_f.number_field :frdecay ,class: '' %></td>
    <td><%= setting_f.number_field :fldecay ,class: '' %></td>
    <td><%= setting_f.number_field :rrdecay ,class: '' %></td>
    <td><%= setting_f.number_field :rldecay ,class: '' %></td>
  </tr>
  <tr>
    <td colspan="4"><%= setting_f.text_area :remarks ,class: '' %></td>
  </tr>
</table>
<% end %>

<%= hidden_field_tag :event_id, @event.id %>
<%= hidden_field_tag :circuit_id, @circuit.id %>
<%= f.submit '登録する', class: '' %>
<% end %>
<%= link_to '戻る', :back %>
