<% @page_class = 'heat' %>

<div class="cts">
  <section>
    <div class="profile bg-carbon">
      <div class="bg-screw">
        <h2 class="heading01 ic ic-circuit"><%= @circuit.name %></h2>
        <div class="col2">
          <div class="cell">
            <div class="img-area">
              <% if @circuit.img? %>
                <%= image_tag @circuit.img.url %>
              <% else %>
                <%= image_tag('common/noimage.jpg') %>
              <% end %>
            </div>
          </div>
          <div class="cell">
            <section>
              <h2 class="heading02 ic ic-calendar">attack day</h2>
              <p><%= @event.day %></p>
            </section>
            <section>
              <h2 class="heading02 ic ic-h">dirver</h2>
              <p><%= link_to @user.name , user_path(@user) %></p>
            </section>
            <section>
              <h2 class="heading02 ic ic-cond">condition</h2>
              <ul class="list-dot">
                <li>
                  <dl>
                    <dt class="font02">weather:</dt>
                    <dd><%= @heat.weather %></dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt class="font02">temperature</dt>
                    <dd><%= @heat.temp %>℃</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt class="font02">road condition</dt>
                    <dd><%= @heat.roadcondition %></dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt class="font02">road temperature</dt>
                    <dd><%= @heat.roadtemp %>℃</dd>
                  </dl>
                </li>
              </ul>
            </section>
            <section class="laptime">
              <h2 class="heading02 ic ic-flag">laptime</h2>
              <table>
                <tr>
                  <th class="font02">sector1</th>
                  <th class="font02">sector2</th>
                  <th class="font02">sector3</th>
                  <th class="font02">total</th>
                </tr>
                <% @laptimes.each do |laptime| %>
                  <% unless laptime.total.nil? %>
                    <tr>
                      <td><%= laptime.sec1 %></td>
                      <td><%= laptime.sec2 %></td>
                      <td><%= laptime.sec3 %></td>
                      <td><%= laptime.total %></td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </section>
            <section class="setting">
              <div class="bg-aluminum">
                <div class="bg-screw">
                  <h2 class="heading02 ic ic-setting">setting</h2>
                  <% @settings.each do |setting| %>
                    <dl class="tire-area">
                      <dt class="font02 ic ic-tire">tire</dt>
                      <dd><%= @heat.tirename %></dd>
                    </dl>

                    <table class="tb01">
                      <tr>
                        <th></th>
                        <th class="font02" colspan="2">front</th>
                        <th class="font02" colspan="2">rear</th>
                      </tr>
                      <tr>
                        <th class="font02">tire width</th>
                        <td colspan="2"><%= setting.ftirewidth %></td>
                        <td colspan="2"><%= setting.rtirewidth %></td>
                      </tr>
                      <tr>
                        <th class="font02">damping</th>
                        <td colspan="2"><%= setting.fdecay %></td>
                        <td colspan="2"><%= setting.rdecay %></td>
                      </tr>
                      <tr>
                        <th></th>
                        <th class="font02">right</th>
                        <th class="font02">left</th>
                        <th class="font02">right</th>
                        <th class="font02">left</th>
                      </tr>
                      <tr>
                        <th class="font02">air pressure</th>
                        <td><%= setting.frpress %></td>
                        <td><%= setting.flpress %></td>
                        <td><%= setting.rrpress %></td>
                        <td><%= setting.rlpress %></td>
                      </tr>
                      <tr>
                        <th class="font02">remarks</th>
                        <td class="left remarks" colspan="4"><%= setting.remarks %></td>
                      </tr>
                    </table>
                  <% end %>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="btn-wrap">
          <% if current_user  == @datalist.user %>
            <div class="btn"><%= link_to 'edit', edit_heat_path(@heat) %></div>
            <div class="btn btn-red"><%= link_to 'delete', @heat, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>
          <% end %>
          <div class="btn"><%= link_to 'heat list', datalist_path(@datalist, circuit_id: @circuit.id, event_id: @event.id) %></div>
        </div>
      </div>
    </div>
  </section>
</div>
