<% @page_class = 'heat' %>

<div class="cts">
  <section>
    <div class="profile bg-carbon">
      <div class="bg-screw">
        <h2 class="heading01 ic ic-circuit"><%= @circuit.name %></h2>
        <div class="bg-aluminum">
          <div class="bg-screw">
            <div class="col2 col2-2">
              <div class="cell">
                <section>
                  <h2 class="heading02 ic ic-calendar-b">attack day</h2>
                  <p><%= @event.day %></p>
                </section>
                <section>
                  <h2 class="heading02 ic ic-h-b">driver</h2>
                  <p><%= link_to @user.name , user_path(@user) %></p>
                </section>
                <section>
                  <h2 class="heading02 ic ic-car-b">car</h2>
                  <p><%= link_to @heat.car.name , car_path(@heat.car) %></p>
                </section>
                <section>
                  <h2 class="heading02 ic ic-heat-b">heat</h2>
                  <p><%= @heat.number %>HEAT</p>
                </section>
                <section>
                  <h2 class="heading02 ic ic-cond-b">condition</h2>
                  <ul class="list-dot list-dot-b">
                    <li>
                      <dl>
                        <dt class="font02">天気</dt>
                        <dd><%= @heat.weather %></dd>
                      </dl>
                    </li>
                    <li>
                      <dl>
                        <dt class="font02">気温</dt>
                        <dd><%= @heat.temp %>℃</dd>
                      </dl>
                    </li>
                    <li>
                      <dl>
                        <dt class="font02">路面状態</dt>
                        <dd><%= @heat.roadcondition %></dd>
                      </dl>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="cell">
                <section class="laptime">
                  <h2 class="heading02 ic ic-flag-b">laptime</h2>
                  <table class="tb02">
                    <tr>
                      <th class="font02">sector1</th>
                      <th class="font02">sector2</th>
                      <th class="font02">sector3</th>
                      <th class="font02">total</th>
                    </tr>
                    <% @laptimes.each do |laptime| %>
                      <% unless laptime.total.nil? %>
                        <tr>
                          <td><%= laptime.sec1 %></td>
                          <td><%= laptime.sec2 %></td>
                          <td><%= laptime.sec3 %></td>
                          <td><%= laptime.total %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </table>
                </section>
                <section class="setting">
                  <h2 class="heading02 ic ic-setting">setting</h2>
                  <% @settings.each do |setting| %>
                    <table class="tb01">
                      <tr>
                        <th>タイヤ名</th>
                        <td colspan="4"><%= @heat.tirename %></td>
                      </tr>
                      <tr>
                        <th></th>
                        <th class="font02" colspan="2">front</th>
                        <th class="font02" colspan="2">rear</th>
                      </tr>
                      <tr>
                        <th class="font02">タイヤサイズ</th>
                        <td colspan="2"><%= setting.ftirewidth %></td>
                        <td colspan="2"><%= setting.rtirewidth %></td>
                      </tr>
                      <tr>
                        <th class="font02">減衰力</th>
                        <td colspan="2"><%= setting.fdecay %></td>
                        <td colspan="2"><%= setting.rdecay %></td>
                      </tr>
                      <tr>
                        <th></th>
                        <th class="font02">right</th>
                        <th class="font02">left</th>
                        <th class="font02">right</th>
                        <th class="font02">left</th>
                      </tr>
                      <tr>
                        <th rowspan="4">空気圧</th>
                        <th colspan="4" class="left">走行前</td>
                      </tr>
                      <tr>
                        <td><%= setting.frpress %>kgf/㎠</td>
                        <td><%= setting.flpress %>kgf/㎠</td>
                        <td><%= setting.rrpress %>kgf/㎠</td>
                        <td><%= setting.rlpress %>kgf/㎠</td>
                      </tr>
                      <tr>
                        <th colspan="4" class="left">走行後</td>
                      </tr>
                      <tr>
                        <td><%= setting.frpress_after %>kgf/㎠</td>
                        <td><%= setting.flpress_after %>kgf/㎠</td>
                        <td><%= setting.rrpress_after %>kgf/㎠</td>
                        <td><%= setting.rlpress_after %>kgf/㎠</td>
                      </tr>
                      <tr>
                        <th class="font02">備考</th>
                        <td class="left remarks" colspan="4"><%= setting.remarks %></td>
                      </tr>
                    </table>
                  <% end %>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-wrap">
          <% if current_user  == @datalist.user %>
            <div class="btn"><%= link_to '変更する', edit_heat_path(@heat) %></div>
            <div class="btn btn-red"><%= link_to '削除する', @heat, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>
          <% end %>
          <div class="btn"><%= link_to 'heat一覧へ', datalist_path(@datalist, circuit_id: @circuit.id, event_id: @event.id) %></div>
        </div>
      </div>
    </div>
  </section>
</div>
