<% @page_class = 'circuit' %>

<div class="cts">
  <section>
    <%= form_for(@circuit) do |f| %>
    <div class="profile bg-carbon">
      <div class="bg-screw">
        <div class="col2">
          <div class="cell">
            <div class="img-area" id="img">
              <% if @circuit.img? %>
                <%= image_tag @circuit.img.url %>
              <% else %>
                <%= image_tag('common/noimage.jpg') %>
              <% end %>
            </div>
            <div class="center">
              <div class="btn">
                <%= f.label :img, class: "form-img" do %>
                  <span>画像を変更する</span>
                  <%= f.file_field :img  %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="cell edit">
            <section>
              <h2 class="heading01 ic ic-circuit">circuit name</h2>
              <p><%= f.text_field :name %></p>
            </section>
            <section>
              <h2 class="heading01 ic ic-link">homepage</h2>
              <p><%= f.text_field :url %></p>
            </section>
          </div>
        </div>
        <div class="btn-wrap">
          <div class="btn"><%= link_to '戻る', circuits_path %></div>
          <div class="btn"><%= f.submit '変更する' %></div>
          <div><%= link_to '削除する', @circuit, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>
        </div>
      </div>
    </div>
  <% end %>
</section>
</div>
