<% @page_class = 'circuit' %>

<div class="cts">
  <section>
    <div class="profile bg-carbon">
      <div class="bg-screw">
        <h2 class="heading01 ic ic-circuit">circuit list</h2>
          <ul class="col3">
            <% @circuits.each do |circuit| %>
              <li class="bg-aluminum">
                <%= link_to (circuit), class:'bg-screw' do %>
                  <div class="img-area match-height">
                    <% if circuit.img? %>
                      <%= image_tag circuit.img.url %>
                    <% else %>
                      <%= image_tag('common/noimage.jpg') %>
                    <% end %>
                  </div>
                  <p><%= circuit.name %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% if logged_in? %>
            <% if current_user.admin?  %>
              <div class="btn"><%= link_to 'add newcircuit', new_circuit_path %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
