<% @page_class = 'circuit' %>

<div class="cts">
  <section>
    <div class="profile bg-carbon">
      <div class="bg-screw">
        <h2 class="heading01 ic ic-circuit"><%= @circuit.name %></h2>
        <div class="col2">
          <div class="cell">
            <div class="img-area">
              <% if @circuit.img? %>
                <%= image_tag @circuit.img.url %>
              <% else %>
                <%= image_tag('common/noimage.jpg') %>
              <% end %>
            </div>
          </div>
          <div class="cell">
            <section>
              <h3 class="heading02 ic ic-link">homepage</h3>
              <% unless @circuit.url %>
                <p>URLが登録されていません</p>
              <% else %>
                <p><%= link_to @circuit.url, @circuit.url, target: :_blank  %></p>
              <% end %>
            </section>
            <section>
              <h3 class="heading02 ic ic-flag">ranking</h3>
              <div class="ranking">
                <div class="podium">
                  <span></span>
                  <span></span>
                  <span></span>
                  <ol>
                    <% @besttimes.each do |time| %>
                        <li>
                          <%= link_to (time.heat) do %>
                            <p class="name"><%= time.heat.user.name %></p>
                            <p class="time"><%= time.total %></p>
                          <% end %>
                        </li>
                    <% end %>
                  </ol>
                </div>
              </div>
            </section>

            <section>
              <h3 class="heading02 ic ic-calendar">attack day</h3>
              <% if logged_in? %>
                <% if current_user.partake?(@circuit) %>
                  <div class="form">
                    <%= form_for(@event) do |f| %>
                      <%= f.date_field :day, class: '' %>
                      <%= hidden_field_tag :circuit_id, @circuit.id %>
                      <div class="btn"><%= f.submit '開催日を追加する', class: '' %></div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <ul class="list-dot">
                <% @events.each do |event| %>
                  <li><%= link_to event.day, event_path(event, circuit_id: @circuit.id)  %></li>
                <% end %>
              </ul>
              <%= paginate @events %>
            </section>
          </div>
        </div>
        <div class="btn-wrap">
          <div class="btn"><%= link_to 'サーキット一覧へ', circuits_path %></div>
          <% if logged_in? %>
            <%= render 'joins/partake_button', circuit: @circuit %>
            <% if current_user.admin?  %>
              <div class="btn"><%= link_to '変更する', edit_circuit_path(@circuit) %></div>
              <div class="btn btn-red"><%= link_to '削除', @circuit, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
