  <% if current_user.have?(car) %>
    <div class="btn btn-red">
      <%= form_tag( ownership_path(car.id), method: :delete) do  %>
        <%= hidden_field_tag :car_id, car.id %>
        <%= hidden_field_tag :type, 'Have' %>
        <%= submit_tag 'マイカーから削除する', data: { confirm: 'マイカーから削除しますか？' }, class: '' %>
      <% end %>
    </div>
  <% else %>
    <div class="btn">
      <%= form_for(current_user.ownerships.build) do |f| %>
        <%= hidden_field_tag :car_id, car.id %>
        <%= hidden_field_tag :type, 'Have' %>
        <%= f.submit 'マイカーに追加する', class: '' %>
      <% end %>
    </div>
  <% end %>
