<% @page_class = 'user userdata' %>

<div class="cts">
  <section>
    <div class="bg-carbon">
      <div class="bg-screw">
        <h2 class="heading01 ic ic-circuit"><%= @circuit.name %></h2>
        <div class="col2 col2-3">
          <div class="cell">
            <div class="img-area">
              <% if @circuit.img? %>
                <%= image_tag @circuit.img.url %>
              <% else %>
                <%= image_tag('common/noimage.jpg') %>
              <% end %>
            </div>
          </div>
          <div class="cell">
            <section>
              <h2 class="heading02 ic ic-h">dirver</h2>
              <p><%= @user.name %></p>
            </section>
            <section class="besttime">
              <h2 class="heading02 ic ic-flag">best time</h2>
              <% unless @besttime.blank? %>
                <ul class="list-dot">
                  <li>
                    <%= link_to(@besttime.heat) do %>
                    <p class="time"><%= @besttime.total %></p>
                    <% end %>
                  </li>
                </ul>
              <% else %>
                <p>登録されたデータはありません</p>
              <% end %>
            </section>
            <section>
              <h2 class="heading02 ic ic-h">data list</h2>
              <% unless @datalists.blank? %>
                <ul class="list-dot">
                  <% @datalists.each do |datalist| %>
                    <li>
                      <%= link_to (datalist) do %>
                        <%= link_to datalist.event.day, datalist_path(datalist, circuit_id: @circuit.id, event_id: datalist.event.id)  %>
                      <% end %>
                    </li>
                    <% end %>
                </ul>
              <%= paginate @datalists %>
              <% else %>
                <p>登録されたデータはありません</p>
              <% end %>
            </section>
          </div>
        </div>
        <div class="btn-wrap">
          <div class="btn"><%= link_to 'ユーザートップへ', @user %></div>
        </div>
      </div>
    </div>
  </section>
</div>
