<% @page_class = 'car' %>

<div class="cts">
  <section>
    <div class="profile bg-carbon">
      <div class="bg-screw">
        <h2 class="heading01 ic ic-car">car list</h2>
          <ul class="col3">
            <% @cars.each do |car| %>
              <li class="bg-aluminum">
                <%= link_to (car), class:'bg-screw' do %>
                  <div class="img-area match-height">
                    <% if car.img? %>
                      <%= image_tag car.img.url %>
                    <% else %>
                      <%= image_tag('car/car_noimage.jpg') %>
                    <% end %>
                  </div>
                  <p class="name"><%= car.name %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% if logged_in? %>
            <% if current_user.admin?  %>
              <div class="btn"><%= link_to '車種を追加する', new_car_path %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
