<div class="cts">
  <section>
    <div class="profile bg-carbon">
      <div class="bg-screw">
        <h2 class="heading01 ic ic-car"><%= @car.name %> </h2>
        <div class="col2">
          <div class="cell">
            <div class="img-area">
              <% if @car.img? %>
                <%= image_tag @car.img.url %>
              <% else %>
                <%= image_tag('car/car_noimage.jpg') %>
              <% end %>
            </div>
          </div>
          <div class="cell">
            <h2 class="heading02 ic ic-h">car owners</h2>
            <% if @havings_users.present? %>
              <ul class="list-dot">
                <% @havings_users.each do |user| %>
                  <li><%= link_to user.name, user_path(user) %></li>
                <% end %>
              </ul>
            <% else %>
              <p>マイカー登録をしているユーザーがいません</p>
            <% end %>
            <% if logged_in? %>
              <%= render 'ownerships/have_button', car: @car %>
            <% end %>
          </div>
        </div>
        <section>
          <h2 class="heading02 ic ic-circuit">circuit data</h2>
          <ul class="col3">
            <% @circuits.each do |circuit| %>
              <li class="bg-aluminum">
                <%= link_to (cardata_path(car_id: @car.id, circuit_id: circuit.id)), class:'bg-screw' do %>
                  <div class="img-area match-height">
                    <% if circuit.img? %>
                      <%= image_tag circuit.img.url %>
                    <% else %>
                      <%= image_tag('common/noimage.jpg') %>
                    <% end %>
                  </div>
                  <p><%= circuit.name %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </section>
        <div class="btn-wrap">
          <div class="btn"><%= link_to '車種一覧', cars_path %></div>
          <% if logged_in? %>

            <% if current_user.admin?  %>
              <div class="btn"><%= link_to '変更する', edit_car_path(@car) %></div>
              <div class="btn btn-red"><%= link_to '削除する', @car, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
