  <% if current_user.partake?(@circuit) %>
    <div class="btn btn-red">
      <%= form_tag(join_path(circuit.id), method: :delete) do  %>
        <%= hidden_field_tag :circuit_id, circuit.id %>
        <%= hidden_field_tag :type, 'Partake' %>
        <%= submit_tag 'delete mycircuit', data: { confirm: 'マイサーキットから削除しますか？' }, class: '' %>
      <% end %>
    </div>
  <% else %>
    <div class="btn">
      <%= form_for(current_user.joins.build) do |f| %>
        <%= hidden_field_tag :circuit_id, circuit.id %>
        <%= hidden_field_tag :type, 'Partake' %>
        <%= f.submit 'add mycircuit', class: '' %>
      <% end %>
    </div>
  <% end %>
