<header>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to 'マイページ', user_path(current_user) %></li>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <li><%= link_to 'サーキット', circuits_path %></li>
        <li><%= link_to '車種一覧', cars_path %></li>
        <li><%= link_to 'タイヤ一覧', tires_path %></li>
      <% else %>
        <li><%= link_to '新規登録', signup_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
      <% end %>
    </ul>

  </nav>
</header>
