<header class="bg-carbon">
  <h1><a href="/"><%= image_tag('common/header_logo01.png') %></a></h1>
  <nav>
    <ul id="toggle_menu">
      <% if logged_in? %>
        <li><%= link_to 'Mypage', root_url %></li>
      <% end %>
        <li><%= link_to 'Car', cars_path %></li>
        <li><%= link_to 'Circuit', circuits_path %></li>
        <li><%= link_to 'User', users_path %></li>
      <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path, method: :delete, class: "font-c-red" %></li>
      <% else %>
        <li><%= link_to 'signup', signup_path %></li>
        <li><%= link_to 'login', login_path %></li>
      <% end %>
    </ul>
  </nav>
  <div class="menu">
    <span></span><span></span><span></span>
  </div>
</header>
